@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&family=Poppins:wght@300;400;600;700&display=swap');


/* UTIL CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-color: rgb(13, 13, 68);
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

img {
    object-fit: cover;
}

.section {
    padding: 0 3em;
}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 2.5em;
    font-weight: 600;
    font-size: 50px;
    animation: drop-in 1s ease 200ms backwards;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 1.5rem 2em;
    transition: background-color 0.3s ease-in-out;
}

.navbar-bg {
    background-color: rgba(87, 89, 90, 0.5);
    backdrop-filter: blur(5px);
}

.nav-wrapper {
    justify-content: space-between;
}

.logo {
    color: rgb(255, 255, 255);
    gap: .5rem;
}

.logo>.mlsc_logo {
    height: 2rem;
    width: 2rem;
}

.logo span {
    color: rgb(35, 65, 240);
}

.nav-link_container {
    display: flex;
    gap: 4rem;
    color: rgb(255, 255, 255)
}

.nav-link {
    position: relative;
}

.nav-link a:hover {
    color: rgb(2, 162, 255);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.nav-link::before {
    transition: 300ms;
    height: 1.5px;
    content: "";
    position: absolute;
    background-color: rgb(2, 162, 255);
}

.nav-link-ltr::before {
    width: 0%;
    bottom: -5px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

/* HOME */

.home-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 35%;
    left: 10%;
}

.hero-title h1 {
    font-size: 100px;
    width: 100%;
    color: rgb(255, 255, 255);
    line-height: 1;
    /* background-image: linear-gradient(43deg, rgb(13, 7, 224) 0% , rgb(4, 222, 237) 40%,);
    -webkit-background-clip: text;
    color: transparent; */
}

h1>span {
    color: rgb(35, 65, 240);
}

.hero-title p {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.btn-container {
    display: flex;
}

.btn {
    border-radius: 2rem;
    border: none;
    padding: .5em 2em;
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(35, 65, 240);
    color: rgb(255, 255, 255);
}

.btn span {
    margin-left: 0.4rem;
    font-size: 20px;
    font-weight: 900;
}

/* ABOUT*/

.about-section {
    background-color: rgb(13, 13, 68);
    color: rgb(0, 0, 0);
    min-height: 100vh;
}

.about-content {
    animation: drop-in 1200ms ease 500ms backwards;
    padding-bottom: 9rem;
    justify-content: space-evenly;
}

.about-content p {
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    font-weight: 600;
    text-align: justify;
    font-size: 20px;
    width: 50%;
}

.aboutImg {
    width: 40%;
    height: 30%;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

/* TEAM*/

.team {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10em;
}

/* EVENTS */

.event_section {
    padding: 0 5em;
}

.event_container {
    flex-direction: column;
    margin-top: 2rem;
}

.event_content {
    background-color: rgb(233, 248, 255);
    justify-content: space-between;
    border-radius: 20px;
    padding: 2em;
    margin: auto;
    margin-bottom: 4rem;
    gap: 5rem;
}

.eventImg {
    height: 20rem;
    width: 20rem;
    border-radius: 10px;
}

.event_right-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.event_right-content>h2 {
    text-align: center;
    font-size: 35px;
}

.event_right-content>p {
    text-align: justify;
    font-weight: 600;
    font-size: large;
}

.event_right-content .event_btn {
    background-color: rgb(0, 0, 255);
    border: none;
    padding: 1em 1.5em;
    margin: auto;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 2rem;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
}

.event_btn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

/* PROJECT */

/* LEADERBOARD */

.leaderboard-section h1 {
    padding: 5em;
    font-weight: 600;
    font-size: 60px;
}


/* FOOTER */
.footer-section {
    padding: 4em 4em 1em;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

.footer-content {
    justify-content: space-between;
    padding-bottom: 3em;
}

.footer-logo img {
    width: 11.5rem;
    height: 10rem;
}

.socialmedia {
    gap: 1.5rem;
}

.social-icon {
    font-size: x-large;
    width: 2.5rem;
    height: 2.5rem;
}

.social-icon:hover {
    color: blue;
}

.footer-copyright {
    margin-top: 1rem;
    justify-content: space-between;
}

.footer-copyright p {
    font-weight: 600;
}

/* PRELOADER */

/* .preloader{
    width:100vw;
    height: 100vh;
    z-index: 1000;
    position:fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    animation: preloader 1s forwards;
}

@keyframes preloader {
    to{
        transform: scaleY(0);
    }
} */

/* CUSTOM-SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(23, 25, 26);
    border: .5px solid rgb(87, 89, 90);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(35, 65, 240, 1);
    border-radius: 6px;
}


/*  */

.headline {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.text {
    margin-top: 0.8em;
}

.text>p {
    color: white;
    font-weight: 600;
    text-align: justify;
}

.gallery {
    display: flex;
}

.left {
    width: 50%;
}

.detailsWrapper {
    margin: auto;
    width: 80%;
}

.details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photos {
    width: 80%;
    height: 80%;
    position: relative;
    margin: auto;
}

.photo {
    position: absolute;
}

.photo>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.proj_btn {
    margin-top: 1rem;
    border-radius: 2rem;
    border: none;
    padding: .5em 2em;
    width: fit-content;
    background-color: blue;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.proj_btn span {
    margin: 0 0 .2rem .3rem;
    font-size: 18px;
    font-weight: 900;
}

.proj_btn:hover {
    cursor: pointer;
    background-color: black;
}