@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&family=Poppins:wght@300;400;600;700&display=swap');


/* UTIL CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgb(16, 15, 15), rgb(37, 37, 37));
    background-repeat: no-repeat;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none;
}


/* NAVBAR */

#navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 1.5rem 2em;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: rgb(255, 255, 255);
}

.logo span {
    color: rgb(35, 65, 240);
}

.menu {
    display: flex;
    gap: 4rem;
    color: rgb(255, 255, 255)
}

#navbar li a:hover {
    color: rgb(2, 162, 255);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* HOME */

.home{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 35%;
    left: 10%;
}

.hero-title h1 {
    font-size: 80px;
    width: 100%;
    color: rgb(255, 255, 255);
    /* background-image: linear-gradient(43deg, rgb(13, 7, 224) 0% , rgb(4, 222, 237) 40%,);
    -webkit-background-clip: text;
    color: transparent; */
}

h1>span {
    color: rgb(35, 65, 240);
}

.hero-title p {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.btn-container{
    display: flex;
}

.btn {
    border-radius: 2rem;
    border: none;
    padding: .5em 2em;
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(35, 65, 240);
    color: rgb(255, 255, 255);
}

.btn span{
    margin-left: 0.4rem;
    font-size: 20px;
    font-weight: 900;
}

/* COMPONENTS */

.about {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10em;
}

.about p{
    text-align: left;
    margin-top: 5rem;
    width: 50%;
}

.team {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10em;
}

.events {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10em;
}

.leaderboard {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10em;
}